<aside id="sidebar" class="sidebar">
   <ul class="sidebar-nav" id="sidebar-nav">
     <li class="nav-item">
       <a class="nav-link" routerLink="/dashboard">
        <i> <img src="../../../assets/img/pagina-de-inicio.png" width="40px" style="margin-right: 5px;margin-left: -5px;" alt=""></i>   
         <span>Inicio</span>
       </a>
     </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="/Productos/Listado">
       <i> <img src="../../../assets/img/compras.png" width="40px" style="margin-right: 5px;margin-left: -5px;" alt=""></i>   
        <span>Productos</span>
      </a>
    </li>     
    <li class="nav-item">
      <a class="nav-link" routerLink="/Clientes/Listado">
       <i> <img src="../../../assets/img/cola.png" width="40px" style="margin-right: 5px;margin-left: -5px;" alt=""></i>   
        <span>Clientes</span>
      </a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="/Facturacion/Listado">
       <i> <img src="../../../assets/img/recibo.png" width="40px" style="margin-right: 5px;margin-left: -5px;" alt=""></i>   
        <span>Facturación</span>
      </a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="/DepartamentosPruebaAPI/Listado">
       <i> <img src="../../../assets/img/api.png" width="40px" style="margin-right: 5px;margin-left: -5px;" alt=""></i>   
        <span>Departamentos Prueba API</span>
      </a>
    </li> 
   </ul>
 </aside>
 
